:root {
    --col-light  : #FFFFD1;
    --col-mid    : #635C6D;
    --col-dark   : #150413;
    --col-accent : #FC4988;

    --primary   : var(--col-light);
    --secondary : var(--col-dark);
    --mid       : var(--col-mid);
    --accent    : var(--col-accent);

    --margins : 10px;

    /* https://stackoverflow.com/a/14068216 */
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

html, body {
    position   : relative;
    overflow-x : hidden;

    width      : 100vw;
    min-height : 100vh;

    font-family : Aileron;
    font-size : 12px;

    color      : var(--secondary);
    background : var(--primary);
}

body > .container {
    position : relative;
    display : flex;
    flex-direction : column;
    align-items : center;

    width  : 100vw;
    min-height : 100vh;
}

main.content {
    position : relative;
    display : grid;
    gap : var(--margins);
    margin : var(--margins) 0;
    grid-template-columns : repeat(3, 1fr);
    grid-auto-rows        : calc((((100vh - var(--margins) * 4) / 3.5) - var(--margins)) / 2);

    max-width  : calc(100vw - (var(--margins) * 2));
    width      : 700px;
    min-height : 100vh;
}

.window {
    position   : relative;
    box-sizing : border-box;

    padding : var(--margins);
    border  : 2px solid var(--mid);
    border-top : calc(12px + 4px) solid var(--mid);

    --title : '';
}

.window::before {
    position : absolute;
    display  : flex;
    align-items : center;
    flex-direction : row;
    top  : -14px;
    left : 2px;
    content : var(--title);
    height : 12px;
    font-size : 10px;
    color : var(--primary);
}

.window::after {
    position : absolute;
    top   : -14px;
    right : 0;
    content : '';
    width   : 12px;
    height  : 12px;
    mask-image         : url(/assets/images/windowclose.png);
    -webkit-mask-image : url(/assets/images/windowclose.png);
    background-color : var(--primary);
}