h1 {
    font-family : Bagnard;
    font-size   : 32px;
}

h3 {
    font-family : Aileron;
    font-size   : 16px;
    color : var(--mid);
}

article.opener {
    grid-column : 1 / 3;
    grid-row    : 1 / 3;
}